{{#bs-navbar class="navbar-custom-style" type=(if inverse 'inverse') fluid=fluid as |navbar|}}
  {{#link-to "index" class="navbar-brand"}}Bruce Wayne{{/link-to}}
  {{navbar.toggle}}
  {{#navbar.content}}
    {{#navbar.nav class="ml-auto" as |nav|}}
      {{#nav.item}}{{#nav.link-to 'projects'}}Projects{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to 'resume'}}Resume{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to 'about'}}About{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to 'contact'}}Contact{{/nav.link-to}}{{/nav.item}}
      {{#nav.dropdown tagName="li" as |dd|}}
        {{#dd.toggle}}Admin<span class="caret"></span>{{/dd.toggle}}
        {{#dd.menu as |ddm|}}
          {{#ddm.item}}{{#nav.link-to "admin.resume"}}Resume{{/nav.link-to}}{{/ddm.item}}
        {{/dd.menu}}
      {{/nav.dropdown}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}
