@import 'ember-bootstrap/bootstrap';
@import 'partials/navbar';
@import 'partials/footer';
@import 'partials/animations';
@import 'partials/index';
@import 'partials/resume';
// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700);

body, html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Roboto, sans-serif;
}

body > .ember-view {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.font-200 {
  font-weight: 200;
}

.font-300 {
  font-weight: 300;
}

.font-500 {
  font-weight: 500;
}

//////////////////////

.section-title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  color: #2d7788;
  position: relative;
}

.company {
  color: #97AAC3;
}

.upper-row {
  position: relative;
}

.job-title {
  color: #3F4650;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 500;
}

.time {
  position: absolute;
  right: 0;
  top: 0;
  color: #97AAC3;
}

.vertical-align-middle-webkit {
  vertical-align: -webkit-baseline-middle;
}

.vertical-align-middle-moz {
  vertical-align: -moz-middle-with-baseline;
}
