.footer {
  padding: $navbar-padding-y $navbar-padding-x;
}

.shadow {
  box-shadow: 0 -2px 5px 0 rgba(0,0,0,.16), 0 -2px 10px 0 rgba(0,0,0,.12);
}

.footer-icon-size {
  padding-top: $navbar-brand-padding-y;
  padding-bottom: $navbar-brand-padding-y;
  margin-right: $navbar-padding-x;
  font-size: $navbar-brand-font-size;
  line-height: inherit;
}

.footer-text {
  font-size: 0.85rem;
}

.footer-image {
  height: 1.25rem; 
}
