.navbar-custom-style {
  //border-radius: 0;
  //margin-bottom: 0;
  border-color: transparent;
  //translucent
  background-color: rgba(0,0,0,0.3);
  //dropshadow 
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
