.item {
  flex-grow: 1;
}

.company {
  color: #97AAC3;
}

.upper-row {
  position: relative;
}

.job-title {
  color: #3F4650;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 500;
}

.time {
  //position: absolute;
  //right: 0;
  //top: 0;
  //flex-grow: 1;
  //margin-bottom: 0;
  //text-align: right;
  color: #97AAC3;
}
