{{set-body-class "bg"}}
<div class="flex-grow d-flex flex-column justify-content-center">
  <h1 class="fadeInDown header text-center">
    <span class="font-200">Bruce</span>
    <span class="font-500">Wayne<span class="blink font-300">_</span></span>
  </h1>
  <h2 class="font-500 fadeInDown subheader text-center">Web Developer</h2>
</div>
